<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>ipad/backgrounds/details/River/bgRiverDetail1.png</key>
		<dict>
			<key>frame</key>
			<string>{{403, 328}, {130, 130}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {130, 130}}</string>
			<key>sourceSize</key>
			<string>{130, 130}</string>
		</dict>
		<key>ipad/backgrounds/details/River/bgRiverDetail2.png</key>
		<dict>
			<key>frame</key>
			<string>{{667, 328}, {130, 130}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {130, 130}}</string>
			<key>sourceSize</key>
			<string>{130, 130}</string>
		</dict>
		<key>ipad/backgrounds/details/River/bgRiverDetail3.png</key>
		<dict>
			<key>frame</key>
			<string>{{535, 328}, {130, 130}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {130, 130}}</string>
			<key>sourceSize</key>
			<string>{130, 130}</string>
		</dict>
		<key>ipad/backgrounds/details/River/bgRiverSplash4.png</key>
		<dict>
			<key>frame</key>
			<string>{{53, 1}, {325, 650}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {325, 650}}</string>
			<key>sourceSize</key>
			<string>{325, 650}</string>
		</dict>
		<key>ipad/backgrounds/details/River/lifeBar.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 1}, {400, 50}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {400, 50}}</string>
			<key>sourceSize</key>
			<string>{400, 50}</string>
		</dict>
		<key>ipad/backgrounds/details/River/lifeBarBorder.png</key>
		<dict>
			<key>frame</key>
			<string>{{1, 403}, {400, 50}}</string>
			<key>offset</key>
			<string>{0, 0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {400, 50}}</string>
			<key>sourceSize</key>
			<string>{400, 50}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>size</key>
		<string>{1024, 512}</string>
		<key>textureFileName</key>
		<string>River.png</string>
	</dict>
</dict>
</plist>
